body {
    background-color: #1e1e1e;
    height: 100vh;
    position: relative;
}

#audio-player {
    position: absolute;
    cursor: pointer;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    text-align: center;
    width: 300px;
    height: 80px;
    border-radius: 10px;
    background-image: url(../assets/img/dbr.jpg);
    background-size: cover;
    background-position: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  #audio-player-controls {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    cursor: move;
    z-index: 10;
  }

  #play {
    filter: invert(100%);
    width: 48px;
    height: 48px;
    background-image: url(../assets/img/play.png);
    background-size: cover;
    background-position: center;
    opacity: 0.5;
    transition: opacity 0.3s ease;
  }

  #play:hover {
    opacity: 1;
  }

  #rwd,
  #fwd {
    filter: invert(100%);
    width: 40px;
    height: 40px;
    background-image: url(../assets/img/ffwd.png);
    background-size: cover;
    background-position: center;
    opacity: 0.5;
    transition: opacity 0.3s ease;
  }

  #rwd {
    transform: rotate(180deg);
  }

  #rwd:hover,
  #fwd:hover {
    opacity: 1;
  }